.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.baseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baseInputError {
    display: block;
    height: 30px;
}

.baseInput input {
    display: inline-block;
}
