.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.papper {
    background-color: #fff;
    border: 1px solid #c1c0bd;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
    padding: 1rem;
    height: 100%;
}